.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/#{session.user_id}") Douer
        
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a.a-avatar(href='#', data-toggle='modal', data-target='#update-avatar-modal')
                        img.img-sm.img-rounded.img-responsive(src='#{session.current_user.photo}')
                li
                    a(href="/#{session.user_id}/list_short_messages") 
                        span.glyphicon.glyphicon-inbox
                        |私信
                li
                    a(href="/#{session.user_id}/profile") 
                        span.glyphicon.glyphicon-wrench
                        |设置
                li
                    a(href='/logout')
                        span.glyphicon.glyphicon-off
                        |注销
            .dropdown.navbar-right.navbar-form
                a#a-notice.dropdown-toggle.sr-only(href='#', data-toggle='dropdown')
                    span.glyphicon.glyphicon-bell
                    |提醒
                    span.badge
                ul#notice-list.dropdown-menu(role='menu',data-id='#{session.user_id}')
                    li(role='presentation')
                        .progress.progress-striped.active
                            .progress-bar(role='progressbar',aria-valuenow="100",aria-valuemin="0",aria-valuemax="100",style="width: 100%")
                                span.sr-only 100% Complete

            form#form-search.navbar-form.navbar-right(action='/#{session.user_id}/search', method='post')
                input.form-control(name='nickname', type="text", placeholder="输入昵称")
                button#btn-search-confirm.btn.btn-default(type="button") go
//- #nav-notice-menu.more-active
//-     ul.nav-notice-list.list-group
//-         li.list-group-item
//-             a(href='#') liuk
//-         li.list-group-item
//-             a(href='#') abc
