extends ../layout
append content
    h1.page-header 日志
    .row
        .col-sm-6.col-md-7
            #page-container-blog
                ul
                    - if(blog_list.length === 0 )
                        li
                            你还没有写blog。。。
                    - each blog in blog_list
                        li
                            .blog-item
                                .blog-head
                                    .blog-post-title
                                        h2 
                                            a(href="#{path_prefix}/blog/#{blog.id}") #{blog.title}
                                        p
                                            span.glyphicon.glyphicon-time
                                            |发布于 #{blog.post_time}
                                .blog-body
                                    .blog-post-content 
                                        !{blog.content}
                                .blog-footer
                                    .scrap-info
                                        a.btn.btn-primary(href="#{path_prefix}/blog/#{blog.id}") 
                                            |阅读全文
                                            span.glyphicon.glyphicon-chevron-right    
                                        a.btn.btn-primary(href="#") 
                                            |评论
                                            span.glyphicon.glyphicon-comment
                                    .op-lists
                                        .show-in-owner
                                            a.btn.btn-primary(href="#{path_prefix}/to_update_blog?id=#{blog.id}") 
                                                |编辑
                                                span.glyphicon.glyphicon-pencil
                                            a.btn.btn-primary(href="#{path_prefix}/del_blog?id=#{blog.id}") 
                                                |删除
                                                span.glyphicon.glyphicon-remove-circle
                            hr
            .category-app
                .category-list
                    #category-table.table.table-striped.table-responsive


        .col-sm-3.col-offset-sm-3.col-md-3.col-offset-md-3
            - if (session.user_id === user_profile.id)
                .well.show-in-owner
                    button#btn-post-blog.btn.btn-default(type="button")
                        span.glyphicon.glyphicon-pencil
                        |写日志
            .well.widget-search-blog
                h4 搜索文章
                form(action='#{path_prefix}/search_blog',method='post')
                    .input-group
                        input.form-control(type='text',name='title')
                        span.input-group-btn
                            button.btn.btn-default(type='submit')
                                span.glyphicon.glyphicon-search
            .well.widget-manage-category
                - if (session.user_id === user_profile.id)
                    .show-in-owner
                        button#btn-category-manage.btn.btn-default(type="button")
                            span.glyphicon.glyphicon-list-alt
                                |分类管理
                ul#nav-category-list.nav.nav-pills.nav-stacked
                    li
                        a(href="#") 个人日记
                    li
                        a(href="#") 碎碎念

append javascript
    script(src="/javascripts/blog.js", type="text/javascript")