extends ../layout
append content
    .row
        .col-sm-8.col-md-9
            .content-main#timeline(role='main',aria-labelledby='content-main-heading')
                .content-header
                    h2.page-header 看看好友在做什么
                .stream-container
                    ul.list-group.media-list
                        -each feed in feeds
                            li.list-group-item.media
                                a.pull-left(href='/#{feed.user_id}')
                                    img.img-responsive.img-rounded.img-md.media-object(src='#{feed.event_msg.photo}')
                                .media-body
                                    h4.media-heading #{feed.event_msg.nickname} &nbsp;
                                        span #{feed.create_time}
                                    span #{feed.event_msg.action}
                                    - if(feed.msg_type === 2)
                                        a(href='/#{feed.user_id}/photo/#{feed.event_msg.url_id}')
                                            img.img-responsive.img-thumbnail.img-default(src='#{feed.event_msg.content}')
                                    - else if (feed.msg_type === 1)
                                        a(href='/#{feed.user_id}/blog/#{feed.event_msg.url_id}')
                                            span &nbsp;#{feed.event_msg.content}
                                    - else if (feed.msg_type === 3)
                                        span 
                                            strong 
                                                em #{feed.event_msg.content}
                                    button.btn-check-review.pull-right.btn.btn-default.btn-xs(type='button',data-id='#{feed.id}',data-type='3') 查看回复
                                .replys
                                    .comments
                                    form(method='post', action='#{path_prefix}/reply')
                                        input(type='hidden',name='review_id',value='#{feed.id}')
                                        input(type='hidden',name='type',value='3')
                                        input.form-control(maxlength='500',type='text', name='content', required)
                                        button.btn.btn-xs.btn-primary.pull-right(type='submit') 回复
append javascript
    script(src="/javascripts/feed.js", type="text/javascript")